<article>
  <h2>
    {% if include.context == 'post' %}
      {{ page.title }}
    {% endif %}
    <a href="{{ page.url }}" class="permalink" title="Permalink">
      {% if include.context == 'home' %}
        {{ page.title }}
      {% else %}
        ∞
      {% endif %}
    </a>
  </h2>
  <div class="post-meta">
    <span class="post-date">{{ page.date | date_to_long_string }}</span>
    –
    <span class="post-words">
      {{ page.content | number_of_words }} words
    </span>
    about
    <span class="post-category">
      {% for category in page.categories %}
        <a href="/{{ category }}"><span class="label">{{ category }}</span></a>
      {% endfor %}
    </span>
<!--     by <a href="https://github.com/{{ page.author }}" class="post-author">
      <img src="https://github.com/{{ page.author }}.png" class="avatar" />
      {{ page.author }}
    </a> -->
  </div>
  <div class="post-content">
    {% if include.context == 'home' %}
      {{ page.excerpt | markdownify }}
    {% else %}
      {{ page.content | markdownify }}
    {% endif %}
  </div>
</article>
